html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#user-list{
  
}

#ready{
  background-color: rgb(88, 177, 0);
  padding: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

#ready:disabled{
  background-color: gray;
}

#ready:hover{
  cursor: pointer;
}

#ready:active{
  background-color: lime;
}

#wrapper{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  /* align-items: center */
}

#button-wrp{
  margin-right: 15px;
}

#ready-list{
  /* margin-left: 15px; */
}

#lower-wrapper{
  display: flex;
}

#canvas-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cntdwn{
  margin: auto;
  position: absolute;
  font-size: 64px;
}
#chat-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-radius: 3px;
  background: gray;
}

#chat{
  width: 100%;
  padding: 3px;
  list-style: none;
  max-height: 45px;
  overflow-y: scroll;
}

#msg-box{
  width: 100%;
}